version: 0.1
log:
  level: info 
storage:
  filesystem:
    rootdirectory: /var/lib/registry
    maxthreads: 100
http:
    addr: --registry_ip--:--port--
    secret: placeholder
    tls:
      certificate: /etc/registry/ssl/--project--.crt
      key: /etc/registry/ssl/--project--.key
